.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__notification-title {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.header__notifications-count {
    background-color: var(--blue);
    color: var(--white);
    margin-left: 0.5rem;
    padding: 0.2rem 0.8rem;
    border-radius: 0.5rem;
}

.header__btn {
    background-color: inherit;
    border: none;
    font-size: 0.9rem;
    color: var(--dark-grey-blue);
    cursor: pointer;
}

.header__btn:hover {
    color: var(--blue);
}
