:root {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

ul,
li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    background-color: var(--light-grey-blue-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
